.header {
  display: flex;
  max-width: 1600px;
  margin: 0 auto;
  align-items: center;
  padding: 18px 0;
  gap: 32px;
  height: 104px;

  &__nav{
    display: flex;
    align-items: center;
    gap: 18px;
    flex-grow: 1;
    
    &__buttons {
      display: flex;
    }
  }
}

.pre_header {
  &__link {
    &:hover {
      color: white;

      .pre_header__link_img {
        filter: brightness(0) saturate(100%) invert(100%) sepia(15%) saturate(7442%) hue-rotate(209deg) brightness(116%) contrast(113%);
      }
    }

  }

  &__link_img {

    &:hover {

    }
  }
}