.orderItem {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-grow: 1;
  width: 100%;


  &__input {
    display: flex;
    justify-content: center;
    align-content: stretch ;
    gap: 0.5rem;

  input {
    width: 4rem;
    font-size: 24px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 15px;
  }
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Для Firefox */
    input[type=number] {
      -moz-appearance: textfield;
    }

  }

    &__titles {
      display: flex;
      flex-direction: column;
      align-items: start;

      h4 {
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 0.5rem;
      }

      &__prices {
        display: flex;
        flex-direction: column;
        align-items: center;
      &__discounted {
        font-weight: 600;
        font-size: 25px;
        margin-right: 6px;
      }

      &__original {
        font-weight: 500;
        font-size: 18px;
        color: rgba(103, 128, 159, 1);
        text-decoration: line-through;
      }

        &__priceBlock {
          display: flex;
          justify-content: space-between;
          align-items: stretch;
          gap: 0.5rem;
        }

        &__priceUnderlineBlock {
          display: flex;
          flex-direction: column;
          align-items: end;
          gap: 0.5rem;
        }
      }
    }

  &__availability {
    display: flex;
    gap: 0.5rem;
  }

  &__buttons {
    display: flex;
    gap: 0.5rem;
    margin: 1.5rem 0 1.5rem 0;

    &__fav {
      padding: 0.5rem;
      border-radius: 0.7rem;
    background-color: #F4F4F4;
    }

    &__delete {
      padding: 0.5rem;
      border-radius: 0.7rem;
    background-color: #F4F4F4;
    }

    &__minus {
      padding: 1rem;
      border-radius: 1rem;
      background-color: #F4F4F4;
    }

    &__plus {
      padding: 1rem;
      border-radius: 1rem;
      background-color: #F4F4F4;
    }
  }
}