.prevEl, .nextEl {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
}

.prevEl {
  left: 24px;
}

.nextEl {
  right: 24px;
}


.item {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}