.catalogMenuContent {
    padding: 20px;
    margin: 20px 0 0 20px;
    width: 100%;

    &__name {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 24px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;
        row-gap: 32px;
        width: 100%;
        overflow-y: scroll;
        max-height: 80vh;
        height: 100%;

        &::-webkit-scrollbar {
            width: 6px;
            margin-right: 5px;
        }

        &::-webkit-scrollbar-track {
            background-color: transparent;
            border-top-right-radius: 2px;
        }

        &::-webkit-scrollbar-thumb {
            width: 7px;
            background-color: #a9aeb2;
            border-radius: 2px;
        }
    }

    &__category {
        cursor: pointer;
        font-weight: 500;
        font-size: 14px;
    }

    &__childrens {
        margin-top: 14px;
        display: flex;
        flex-direction: column;
        gap: 14px;
        margin-bottom: 14px;
    }

    &__children {
        color: #8C8C8C;
        cursor: pointer;
        font-weight: 400;
    }

    &__more {
        display: flex;
        align-items: center;
        gap: 2px;
        cursor: pointer;
    }

    &__more_text {
        color: #1378F5;
    }
}