.completionBlock {
    &__head {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 8px;
        margin-bottom: 12px;
    }

    &__title {
        font-weight: 500;
        font-size: 36px;
    }

    &__subtitle {
        color: #8C8C8C;
        margin-bottom: 32px;
    }

    &__orders {
        width: 100%;
    }

    &__order {
        border-bottom: 1px solid #D1D1D1;

        &:last-child {
            border-bottom: none;
        }
    }

    &__btn {
        margin: 0 auto;
        width: 315px;
    }
}