.productPrice {
    padding: 32px 22px;
    width: 100%;

    &__priceAndFavorite {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 8px;
    }

    &__discountPrice {
        color: #BA2528;
        font-size: 32px;
        font-weight: 600;
        display: flex;
        justify-content: start;
        align-items: start;
    }

    &__discount {
        width: 40px;
        height: 20px;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        background-color: #BA2528;
        font-size: 12px;
        margin-left: 8px;
    }

    &__originalPrice {
        color: #67809F;
        text-decoration: line-through;
        margin-bottom: 16px;
    }

    &__bonuses {
        font-weight: 400;
        font-size: 14px;
        margin-bottom: 18px;
        display: flex;
        justify-content: start;
        align-items: center;
    }

    &__bonusIcon {
        width: 14px;
        height: 14px;
        background-color: #1378F5;
        margin: 0 4px;
    }

    &__bonusText {
        color: #8C8C8C;
    }

    &__btns {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-bottom: 18px;
    }

    &__availability {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 6px;
    }

    &__availability_text {
        color: #8C8C8C;
        font-size: 12px;
        font-weight: 400;

        span {
            color: #000;
        }
    }
}