.bestsellers {
  padding: 48px 0 64px 0;

  &__header {
    margin-bottom: 24px;
  }

  &__items {
    display: flex;
    gap: 20px;
  }

  &__categories {
    display: flex;
    gap: 16px;
  }

  &__title_and_nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  &__title_and_cat {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 32px;

  }


  &__slider_nav {
    display: flex;
    gap: 10px;
  }
}

.category_item {
  padding: 10px 24px;
  text-align: center;
  border-radius: 32px;
  font-size: 16px;
  font-weight: 600;
  background-color: #DCEBFE;
  color: #67809F;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
  border: none;
  text-transform: uppercase;

  &:hover {
    background-color: rgba(19, 120, 245, .8);
  }
}

._active {
  background-color: var(--brand-blue);
  color: #ffffff;
}